.number-1 {
    transform: rotate(30deg);
}

.traco-1-1 {
    transform: rotate(36deg);
}

.traco-1-2 {
    transform: rotate(42deg);
}

.traco-1-3 {
    transform: rotate(48deg);
}

.traco-1-4 {
    transform: rotate(54deg);
}


.number-2 {
    transform: rotate(60deg);
}

.traco-2-1 {
    transform: rotate(66deg);
}

.traco-2-2 {
    transform: rotate(72deg);
}

.traco-2-3 {
    transform: rotate(78deg);
}

.traco-2-4 {
    transform: rotate(84deg);
}


.number-3 {
    transform: rotate(90deg);
}

.traco-3-1 {
    transform: rotate(96deg);
}

.traco-3-2 {
    transform: rotate(102deg);
}

.traco-3-3 {
    transform: rotate(108deg);
}

.traco-3-4 {
    transform: rotate(114deg);
}


.number-4 {
    transform: rotate(120deg);
}

.traco-4-1 {
    transform: rotate(126deg);
}

.traco-4-2 {
    transform: rotate(132deg);
}

.traco-4-3 {
    transform: rotate(138deg);
}

.traco-4-4 {
    transform: rotate(144deg);
}


.number-5 {
    transform: rotate(150deg);
}

.traco-5-1 {
    transform: rotate(156deg);
}

.traco-5-2 {
    transform: rotate(162deg);
}

.traco-5-3 {
    transform: rotate(168deg);
}

.traco-5-4 {
    transform: rotate(174deg);
}


.number-6 {
    transform: rotate(180deg);
}

.traco-6-1 {
    transform: rotate(186deg);
}

.traco-6-2 {
    transform: rotate(192deg);
}

.traco-6-3 {
    transform: rotate(198deg);
}

.traco-6-4 {
    transform: rotate(204deg);
}


.number-7 {
    transform: rotate(210deg);
}

.traco-7-1 {
    transform: rotate(216deg);
}

.traco-7-2 {
    transform: rotate(222deg);
}

.traco-7-3 {
    transform: rotate(228deg);
}

.traco-7-4 {
    transform: rotate(234deg);
}


.number-8 {
    transform: rotate(240deg);
}

.traco-8-1 {
    transform: rotate(246deg);
}

.traco-8-2 {
    transform: rotate(252deg);
}

.traco-8-3 {
    transform: rotate(258deg);
}

.traco-8-4 {
    transform: rotate(264deg);
}


.number-9 {
    transform: rotate(270deg);
}

.traco-9-1 {
    transform: rotate(276deg);
}

.traco-9-2 {
    transform: rotate(282deg);
}

.traco-9-3 {
    transform: rotate(288deg);
}

.traco-9-4 {
    transform: rotate(294deg);
}


.number-10 {
    transform: rotate(300deg);
}

.traco-10-1 {
    transform: rotate(306deg);
}

.traco-10-2 {
    transform: rotate(312deg);
}

.traco-10-3 {
    transform: rotate(318deg);
}

.traco-10-4 {
    transform: rotate(324deg);
}


.number-11 {
    transform: rotate(330deg);
}

.traco-11-1 {
    transform: rotate(336deg);
}

.traco-11-2 {
    transform: rotate(342deg);
}

.traco-11-3 {
    transform: rotate(348deg);
}

.traco-11-4 {
    transform: rotate(354deg);
}


.number-12 {
    transform: rotate(360deg);
}

.traco-12-1 {
    transform: rotate(366deg);
}

.traco-12-2 {
    transform: rotate(372deg);
}

.traco-12-3 {
    transform: rotate(378deg);
}

.traco-12-4 {
    transform: rotate(384deg);
}